<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/fisioMoco" class="navbar-wagon-brand">
    <%= image_tag "hold.svg", class: "logo-home", alt:"logo" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
    <%= link_to 'Osteopatia Visceral', '/especialidades.html', class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to 'RPG', '/especialidades.html', class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to 'Fisioterapia', '/especialidades.html', class: "navbar-wagon-item navbar-wagon-link" %>
    <div class="hidden-xs">
      <%= link_to 'Educação', '/educacao.html', class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to 'Contato', '/contato.html', class: "navbar-wagon-item navbar-wagon-link" %>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg hidden-sm">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li>
          <%= link_to 'Contato', '/contato.html', class: "navbar-wagon-item navbar-wagon-link" %>
        </li>
        <li>
          <%= link_to 'Educação', '/educacao.html', class: "navbar-wagon-item navbar-wagon-link" %>
        </li>
      </ul>
    </div>
  </div>
</div>
