<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>FisioMoço | Fisioterapia | RPG | Osteopatia</title>
  <%= favicon_tag 'hold-1.png', class: "logo-tab" %>
  <meta name="description" content="Tratamento especializado em Lombalgia, Cervicalgia, Hérnias Discais, Dor Ciática, Tendinite, Dor no Joelho, Escoliose, Dores de Costas, entre outras. Consultório em Sintra e Lisboa. Licenciado em Fisioterapia e com formação avançada em Reeducação Postural Global e Osteopatia">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114192586-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-114192586-1');
  </script>

  <%= stylesheet_link_tag "application" %>
</head>
<body>
  <%= partial "layouts/navbar" %>
  <%= yield %>
  <%= javascript_include_tag "application" %>
</body>
</html>
