<!-- source/flats/show.html.erb -->

<!-- Access data.flats with owner's name as key -->
<% flat = data.flats[owner] %>


<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/<%= flat.city_slug %>');">
 </div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 text-center">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}", class: "avatar-show" %>
      <p><%= flat.name %></p>
      <h4><%= flat.description %></h4>
      <p><%= flat.city_name %></p>
      <p class="rating">
        <i class="fa fa-star" style="color: #ffb400"></i>
        <i class="fa fa-star" style="color: #ffb400"></i>
        <i class="fa fa-star" style="color: #ffb400"></i>
        <i class="fa fa-star" style="color: #ffb400"></i>
        <i class="fa fa-star" style="color: #ffb400"></i>
      </p>
    </div>
    <div class="col-xs-12 col-md-6 wrapper text-center">
      <form action="#">
        <h3>Book it now!</h3>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-6">
              <input type="text" class="form-control form-inputs book-now" placeholder="Check in?" id="checkin">
            </div>
            <div class="col-xs-6">
              <input type="text" class="form-control form-inputs book-now" placeholder="Check out?" id="checkout">
            </div>
          </div>
        </div>
        <div class="form-group">
          <select name="" id="" class="form-control">
            <option selected>Choose...</option>
            <option value="1">1 guest</option>
            <option value="2">2 guests</option>
            <option value="3">3 guests</option>
          </select>
          <input type="submit" class="btn btn-danger btn-sm" id="button-submit" value="Search">
        </div>
      </form>
    </div>
  </div>
</div>
