<!-- Banner -->
<div class="educ-show-banner" alt="Imagem livros de estudos" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path("books.jpg") %>)">
  <h1 class="fadein">Educação</h1>
</div>

<!-- Miguel description -->
<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 about-me">
    <h2>Quem sou eu?</h2>
    <%= image_tag("profile.jpg", class:"avatar-profile", alt:"foto-miguel") %>
    <h2>Miguel Moço</h2>
    <h4>Nascido e criado no distrito de Lisboa, concelho de Sintra, licenciei-me em 2009 com distinção, e iniciei carreira em várias clínicas no concelho de Sintra e clubes desportivos, tendo orientado alunos estagiários em contexto clínico.
    </h4>
    <h4>
      Após várias formações avançadas, inclusive em Reeducação Postural Global (RPG) e Master em Técnicas Osteopáticas do Aparelho Locomotor, dedico-me exclusivamente desde 2012 ao atendimento de utentes em gabinete privado, complementando com fisioterapia ao domicílio, nas zonas de Sintra, Oeiras, Cascais e Lisboa.
    </h4>
  </div>
</div>

<!-- Studies -->

<div class="row education">
  <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2">
    <%= image_tag("graduated.png", alt: "Icon-graducao") %>
    <h2>Educação</h2>
    <h4>Licenciatura em Fisioterapia pela Escola Superior de Saúde da Universidade Atlântica</h4>
    <h4>Master em Técnicas Manipulativas e Osteopáticas pela Universidad Pontificia de Salamanca</h4>
  </div>
  <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0 col-md-4 col-md-offset-0">
    <%= image_tag("advanced.png", alt: "Icon-graducao-avancada") %>
    <h2>Formação Avançada</h2>
    <h4>Formação Base de Reeducação Postural Global (RPG) pela Universidade Internacional de Terapias Manuais de Saint-Mont</h4>
    <h4>Formação Avançada de RPG em Patologia Articular</h4>
    <h4>Formação Avançada de RPG em Escoliose</h4>
    <h4>Manipulação Visceral – Nível 1 e 2, pelo Instituto Internacional Barral</h4>
    <h4>Disfunções Têmporo-Mandibulares</h4>
    <h4>Quiropraxia na Coluna Vertebral</h4>
    <h4>Certificado em Terapia Manual Vertebral</h4>
    <h4>Kinesio-Taping, nível KT1 e KT2</h4>
  </div>
</div>

<div class="icons-thank">
  <div class="thank-icons">Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/"  target="_blank" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  <div class="thank-icons">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</div>
<%= partial "layouts/footer" %>
